[user]
    name = Xi Xia
    email = againxx@mail.ustc.edu.cn
[core]
    pager = delta
    excludesfile = ~/.gitignore_global
[http]
    proxy = socks5://127.0.0.1:1080
[https]
    proxy = socks5://127.0.0.1:1080

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvimdiff"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
    tool = nvimdiff
    conflictstyle = diff3
# automatically launch merge tool without displaying a prompt
[mergetool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = nvim -d \"$REMOTE\" \"$LOCAL\"
[pull]
    rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    syntax-theme = Dracula
    line-numbers = true
    line-numbers-minus-style = red
    line-numbers-plus-style = green
    line-numbers-left-style = yellow
    line-numbers-right-style = yellow
    line-numbers-left-format = "│{nm:^4} "
    line-numbers-right-format = "{np:^4}│ "
    plus-style = syntax bold 66
    minus-style = syntax bold 174
    plus-emph-style = syntax bold 58
    minus-emph-style = syntax bold 125
    file-style = magenta
    file-decoration-style = magenta ul ol
    hunk-header-decoration-style = ul
