# -------
# Modules
# -------

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Exposes git repository status information to prompts.
zmodule git-info
# Applies correct bindkeys for input events.
zmodule input
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility
# Provides archive and unarchive functions for easy archive manipulation.
zmodule archive
zmodule termtitle

# Theme
zmodule prompt-pwd
zmodule gitster

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions
zmodule esc/conda-zsh-completion
# Enables and configures smart and extensive tab completion.
# completion must be sourced after zsh-users/zsh-completions
zmodule completion
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

zmodule fzf
zmodule Aloxaf/fzf-tab
zmodule skywind3000/z.lua
zmodule paulirish/git-open
zmodule hlissner/zsh-autopair
zmodule jeffreytse/zsh-vi-mode

#
# Oh-my-zsh plugins
#
zmodule ohmyzsh/ohmyzsh -s 'plugins/fzf/fzf.plugin.zsh'
zmodule ohmyzsh/ohmyzsh -s 'plugins/pip/pip.plugin.zsh' -f 'plugins/pip'
