@charset "ust-8";

/**
 * my-markdown.css
 *
 */

#page-header {
  display: none;
}

.markdown-body ol ol,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ul ul,
.markdown-body ol ul ol,
.markdown-body ul ul ol,
.markdown-body ol ul ul,
.markdown-body ul ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body {
    font-family:  "PingFang SC", "Mononoki", "Hiragino Sans GB", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 45px;
    margin: auto;
    max-width: 42em;
    min-height: 48em;
    word-wrap: break-word;
    color: #586e75;
    line-height: 1.6;
    background-color: #fdf6e3;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.markdown-body > *:first-child {
  margin-top: 0 !important;
}
.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-body .table-of-contents ol {
  list-style: none;
}

.markdown-body .table-of-contents > ol {
  padding-left: 0;
}

.markdown-body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #073642;
}

.markdown-body h1 .anchor,
.markdown-body h2 .anchor,
.markdown-body h3 .anchor,
.markdown-body h4 .anchor,
.markdown-body h5 .anchor,
.markdown-body h6 .anchor {
  margin-left: -12px;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  visibility: visible;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body h1 {
    margin-bottom: 18px;
    font-size: 30px;
    border-bottom: 1px solid #eee8d5;
    padding-bottom: 0.4em;
    color: #839496;
}

.markdown-body h2 {
    font-size: 24px;
    border-bottom: 1px solid #eee8d5 ;
    padding-bottom: 0.3em;
}

.markdown-body h3 {
    font-size: 20px;
}

.markdown-body h4 {
    font-size: 18px;
}

.markdown-body h5 {
    font-size: 16px;
}

.markdown-body h6 {
    font-size: 14px;
}

.markdown-body hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0;
  border: 0;
  border-top: 1px solid #93a1a1;
}

.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ol ul,
.markdown-body ul ul {
  list-style-type: circle;
}

.markdown-body ol ul ul,
.markdown-body ul ul ul {
  list-style-type: square;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body table {
    width: 90%;
    overflow: auto;
    margin: 10px auto 16px auto;
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

.markdown-body table tr {
    border-top: 1px solid #cccccc;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #eee8d5;
}

.markdown-body table th:empty {
    visibility: hidden;
}

.markdown-body table th,
.markdown-body table td {
    border: 1px solid #cccccc;
    padding: 6px 13px;
}

.markdown-body a { color: #268bd2; }

a.markdown-body :hover {
    color: #cb4b16;
    text-decoration: none;
}

.markdown-body a img { border: none; }

.markdown-body p {
    margin-bottom: 9px;
    padding: 0 12px;
}

.markdown-body blockquote{
    border-left: 4px solid #b58900;
    padding: 0 15px;
    color:#93a1a1;
}

.markdown-body pre,
.markdown-body code {
    background-color: #eee8d5;
}

.markdown-body pre {
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    white-space: pre;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  font-size: 100%;
  line-height: inherit;
  word-wrap: normal;
  white-space: pre;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
}

.markdown-body code {
    font-size: 85%;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.markdown-body sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

.markdown-body * {
    -webkit-print-color-adjust: exact;
}
