body {
    font-family:  "PingFang SC", "Mononoki", "Hiragino Sans GB", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 45px;
    margin: auto;
    max-width: 42em;
    min-height: 48em;
    word-wrap: break-word;
    color: #586e75;
    line-height: 1.6;
    background-color: #fdf6e3;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 16px;
    color: #073642;
}

h1 {
    margin-bottom: 18px;
    font-size: 30px;
    border-bottom: 1px solid #eee8d5;
    padding-bottom: 0.4em;
    color: #839496;
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #eee8d5 ;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p, pre, blockquote, table, ul, ol, dl {
  margin-top: 0;
  margin-bottom: 16px;
}

ol ol,
ul ol,
ol ul,
ul ul,
ol ul ol,
ul ul ol,
ol ul ul,
ul ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  padding-left: 2em;
}

ol ol, ul ol {
  list-style-type: lower-roman;
}

ol ul, ul ul {
  list-style-type: circle;
}

ol ul ul,
ul ul ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

dt { font-weight: bold; }

img { border: none; }

pre {
  border-left: 5px solid #dcdcdc;
  background-color: #f5f5f5;
  padding: 16px;
  font-size: 85%;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

p > a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #268bd2;
  text-transform: uppercase;
  font-weight: bold;
}

p > a:hover {
  color: #dcdcdc;
  background-color: #484848;
}

li > a {
  color: #268bd2;
  font-weight: bold;
  text-decoration: none;
}

li > a:hover { color: #ff4500; }

blockquote {
  color:#93a1a1;
  font-size: 0.8em;
  line-height: 120%;
  padding: 0 15px;
  border-left: 4px solid #b58900;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.3em;
}

th { background-color: #f0f0f0; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0;
  border: 0;
  border-top: 1px solid #93a1a1;
}

del {
  text-decoration: line-through;
  color: #777777;
}

.toc li { list-style-type: none; }

.todo {
  font-weight: bold;
  background-color: #ff4500 ;
  color: white;
  font-size: 0.8em;
  padding: 3px 6px;
  border-radius: 3px;
}

.justleft { text-align: left; }
.justright { text-align: right; }
.justcenter { text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  background-color: #eeeeee;
  font-family: monospace;
  padding: 2px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

/* classes for items of todo lists */

.rejected {
  /* list-style: none; */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAACXBIWXMAAADFAAAAxQEdzbqoAAAAB3RJTUUH4QgEFhAtuWgv9wAAAPZQTFRFmpqam5iYnJaWnJeXnpSUn5OTopCQpoqKpouLp4iIqIiIrYCAt3V1vW1tv2xsmZmZmpeXnpKS/x4e/x8f/yAg/yIi/yQk/yUl/yYm/ygo/ykp/yws/zAw/zIy/zMz/zQ0/zU1/zY2/zw8/0BA/0ZG/0pK/1FR/1JS/1NT/1RU/1VV/1ZW/1dX/1pa/15e/19f/2Zm/2lp/21t/25u/3R0/3p6/4CA/4GB/4SE/4iI/46O/4+P/52d/6am/6ur/66u/7Oz/7S0/7e3/87O/9fX/9zc/93d/+Dg/+vr/+3t/+/v//Dw//Ly//X1//f3//n5//z8////gzaKowAAAA90Uk5T/Pz8/Pz8/Pz8/Pz8/f39ppQKWQAAAAFiS0dEEnu8bAAAAACuSURBVAhbPY9ZF4FQFEZPSKbIMmWep4gMGTKLkIv6/3/GPbfF97b3w17rA0kQOPgvAeHW6uJ6+5h7HqLdwowgOzejXRXBdx6UdSru216xuOMBHHNU0clTzeSUA6EhF8V8kqroluMiU6HKcuf4phGPr1o2q9kYZWwNq1qfRRmTaXpqsyjj17KkWCxKBUBgXWueHIyiAIg18gsse4KHkLF5IKIY10WQgv7fOy4ST34BRiopZ8WLNrgAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 0 .2em;
  padding-left: 1.5em;
}
.done0 {
  /* list-style: none; */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAA7SURBVCiR7dMxEgAgCANBI3yVRzF5KxNbW6wsuH7LQ2YKQK1mkswBVERYF5Os3UV3gwd/jF2SkXy66gAZkxS6BniubAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 0 .2em;
  padding-left: 1.5em;
}
.done1 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABtSURBVCiR1ZO7DYAwDER9BDmTeZQMFXmUbGYpOjrEryA0wOvO8itOslFrJYAug5BMM4BeSkmjsrv3aVTa8p48Xw1JSkSsWVUFwD05IqS1tmYzk5zzae9jnVVVzGyXb8sALjse+euRkEzu/uirFomVIdDGOLjuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}
.done2 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB1SURBVCiRzdO5DcAgDAVQGxjAYgTvxlDIu1FTIRYAp8qlFISkSH7l5kk+ZIwxKiI2mIyqWoeILYRgZ7GINDOLjnmF3VqklKCUMgTee2DmM661Qs55iI3Zm/1u5h9sm4ig9z4ERHTFzLyd4G4+nFlVrYg8+qoF/c0kdpeMsmcAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}
.done3 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxQAAAMUBHc26qAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABoSURBVCiR7dOxDcAgDATA/0DtUdiKoZC3YhLkHjkVKF3idJHiztKfvrHZWnOSE8Fx95RJzlprimJVnXktvXeY2S0SEZRSAAAbmxnGGKH2I5T+8VfxPhIReQSuuY3XyYWa3T2p6quvOgGrvSFGlewuUAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}
.done4 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAzgAAAM4BlP6ToAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIISURBVDiNnZQ9SFtRFMd/773kpTaGJoQk1im4VDpWQcTNODhkFBcVTCNCF0NWyeDiIIiCm82QoIMIUkHUxcFBg1SEQoZszSat6cdTn1qNue92CMbEr9Sey+XC/Z/zu+f8h6ukUil3sVg0+M+4cFxk42/jH2wAqqqKSCSiPQdwcHHAnDHH9s/tN1h8V28ETdP+eU8fT9Nt62ancYdIPvJNtsu87bmjrJlrTDVM4RROJs1JrHPrD4Bar7A6cpc54iKOaTdJXCUI2UMVrQZ0Js7YPN18ECKkYNQcJe/OE/4dZsw7VqNXQMvHy3QZXQypQ6ycrtwDjf8aJ+PNEDSCzLpn7+m2pD8ZKHlKarYhy6XjEoCYGcN95qansQeA3fNdki+SaJZGTMQIOoL3W/Z89rxv+tokubNajlvk/vm+LFpF2XnUKZHI0I+QrI7Dw0OZTqdzUkpsM7mZTyfy5OPGyw1tK7AFSvmB/Ks8w8YwbUYbe6/3QEKv0vugfxWPnMLJun+d/kI/WLdizpNjMbAIKrhMF4OuwadBALqqs+RfInwUvuNi+fBd+wjogfogAFVRmffO02q01mZZ0HHdgXIzdz0QQLPezIQygX6llxNKKgOFARYCC49CqhoHIUTlss/Vx2phlYwjw8j1CAlfAiwQiJpiy7o1VHnsG5FISkoJu7Q/2YmmaV+i0ei7v38L2CBguSi5AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 0 .15em;
  padding-left: 1.5em;
}

code {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 3px;
  display: inline-block;
  color: #52595d;
  border: 1px solid #ccc;
  background-color: #eee8d5;
}
